body{margin-top:.5em;font-family:Patrick Hand,cursive}.main{flex-direction:column;justify-content:center;display:flex}.tabellpicker{flex-flow:wrap;justify-content:center;align-items:stretch;gap:5px;margin:1em;display:flex}.problem{justify-content:center;margin:.25em;font-family:Patrick Hand,cursive;font-size:96px;display:flex}.input{justify-content:center;font-family:Patrick Hand,cursive;font-size:48px;display:flex}.scoreboard{justify-content:center;font-family:Patrick Hand,cursive;font-size:24px;display:flex}.tabellchoice{text-align:center;border-style:solid;border-radius:8px;min-width:2em;font-family:Patrick Hand,cursive;font-size:16px}.currenttabell{background-color:#d9fc9c;font-weight:700}
/*# sourceMappingURL=index.a2422b0c.css.map */
